.galleryp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.out {
  display: flex;
  flex-direction: row;
  overflow: auto;
  justify-content: center;
  align-items: baseline;
}
.h2{
  display: flex;
  align-self: flex-start;
  margin-left: 20px;
  margin-top: -3%;
  margin-bottom: 20px;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: -0.02em;
  background: linear-gradient(
      90deg,
      #9da1ff 0%,
      rgba(230, 214, 244, 0.856741) 62.29%,
      rgba(255, 228, 217, 0.77) 100%
    ),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.output1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  border-radius: 7px;
  color: #c8c7c7;

  width: 300px;
  font-size: 8px;
  font-family: "inter", sans-serif;
  letter-spacing: 0.1px;
  font-style: italic;
  text-align: center;
}
.output1 img {
  margin: 10px;
  background-color: #000000;
  border: #0c0c0c 1.5px solid;
  height: 80%;
  width: 80%;
}
